<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="../public/styles/main.css">
</head>
<body>

<form action="/actions/add/" method="post">
    <input type="text" name="title" placeholder="Title Task"><br>
    <textarea name="description" placeholder="Enter task description..."></textarea><br>
    <input type=submit value="Add" class="submit">
</form>

<div class="columnTask">
    <% for(var i = task.length; i > 0; i--){ %>
    <div class="task">
        <input type='checkbox'>

        <h2 class="title"<%= task[i - 1].id %>><%= task[i - 1].title %></h2>

        <p><%= task[i - 1].description %></p>

        <a class="del" href="/actions/delete/<%= task[i - 1].id %>">✘</a>
    </div>
    <% } %>
</div>


</body>
</html>