<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/styles/main.css">
</head>
<body>

<form action="/actions/add/" method="post">
    <input type="text" name="title" placeholder="Title Task" class="title" id="title"><br>
    <textarea name="description" placeholder="Enter task description..." id="description"></textarea><br>
    <input type=submit value="Add" class="submit">
</form>

<div class="columnTask">
    <% for(var i = 0; i < task.length; i++){ %>
    <div class="task">
        <input type='checkbox' name="check" onclick='window.location.assign("/actions/checks/<%= task[i].id %>")' >

        <h2><%= task[i].title %></h2>

        <p><%= task[i].description %></p>

        <a href="/actions/delete/<%= task[i].id %>">✘</a>
    </div>
    <% } %>
</div>


</body>
</html>