body {
    width: 500px;
}

form{
    width: 200px;
    display: inline-block;
    padding: 10px;
    border: 2px solid red;
}
.title{
    width: 200px;
    margin-bottom: 5px;
}
form textarea{
    width: 200px;
    margin-bottom: 5px;
    height: 100px;
}
.submit{
    float: right;
}

.columnTask{
    float: right;
}

.task {
    width: 200px;
    border: 1px solid blue;
}

a{
    padding-left: 180px;
}

.cheched{
    text-decoration: line-through;
}